<!-- Mixins-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Singular</h1><span>source <i class='fa fa-code'></i> by <a href='https://github.com/thinhlvv/dating'>Thinh Le</a></span>
</div>

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form action="/login" method="post">
      <div class="input-container">
        <input type="text" id="Username" required="required" name="email"/>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Password" required="required" name="password"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Login</span></button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
    <form action="/register", method="post">
      <div class="input-container">
        <input type="text" id="Username" required="required" name="name"/>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="Email" required="required" name="email"/>
        <label for="Email">Email</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Password" required="required" name="password"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Sign Up</span></button>
      </div>
    </form>
  </div>
</div>
